h1{
    text-align: center;
}
h2 {
    border: 3px solid;
    width: fit-content;
    padding: 7px;
    display: inline;
    line-height:300%;
}
div.namecard{
    float:right;
    border: 2px solid;
    width: fit-content;
    margin: 5px;
    padding: 5px;
}
div.main {
    position:relative;
    padding-left:60px;
    padding-right:60px;
}
